
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    color: grey;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 600px;
    background-color: antiquewhite;
}
